@import "tailwindcss";

/*
	ref. https://www.radix-ui.com/colors/docs/palette-composition/scales
	1: App background
	2: Subtle background
	3: UI element background
	4: Hovered UI element background
	5: Active / Selected UI element background
	6: Subtle borders and separators
	7: UI element border and focus rings
	8: Hovered UI element border
	9: Solid backgrounds
	10: Hovered solid backgrounds
	11: Low-contrast text
	12: High-contrast text
*/

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-*: initial;
	--color-black: #000;
	--color-white: #fff;

	--color-gray-1: #fcfcfc;
	--color-gray-2: #f9f9f9;
	--color-gray-3: #f0f0f0;
	--color-gray-4: #e8e8e8;
	--color-gray-5: #e0e0e0;
	--color-gray-6: #d9d9d9;
	--color-gray-7: #cecece;
	--color-gray-8: #bbbbbb;
	--color-gray-9: #8d8d8d;
	--color-gray-10: #838383;
	--color-gray-11: #646464;
	--color-gray-12: #202020;

	--color-blue-1: #fbfdff;
	--color-blue-2: #f4faff;
	--color-blue-3: #e6f4fe;
	--color-blue-4: #d5efff;
	--color-blue-5: #c2e5ff;
	--color-blue-6: #acd8fc;
	--color-blue-7: #8ec8f6;
	--color-blue-8: #5eb1ef;
	--color-blue-9: #0090ff;
	--color-blue-10: #0588f0;
	--color-blue-11: #0d74ce;
	--color-blue-12: #113264;

	--color-ruby-1: #fffcfd;
	--color-ruby-2: #fff7f8;
	--color-ruby-3: #feeaed;
	--color-ruby-4: #ffdce1;
	--color-ruby-5: #ffced6;
	--color-ruby-6: #f8bfc8;
	--color-ruby-7: #efacb8;
	--color-ruby-8: #e592a3;
	--color-ruby-9: #e54666;
	--color-ruby-10: #dc3b5d;
	--color-ruby-11: #ca244d;
	--color-ruby-12: #64172b;

	--color-teal-1: #fafefd;
	--color-teal-2: #f3fbf9;
	--color-teal-3: #e0f8f3;
	--color-teal-4: #ccf3ea;
	--color-teal-5: #b8eae0;
	--color-teal-6: #a1ded2;
	--color-teal-7: #83cdc1;
	--color-teal-8: #53b9ab;
	--color-teal-9: #12a594;
	--color-teal-10: #0d9b8a;
	--color-teal-11: #008573;
	--color-teal-12: #0d3d38;

	--color-amber-1: #fefdfb;
	--color-amber-2: #fefbe9;
	--color-amber-3: #fff7c2;
	--color-amber-4: #ffee9c;
	--color-amber-5: #fbe577;
	--color-amber-6: #f3d673;
	--color-amber-7: #e9c162;
	--color-amber-8: #e2a336;
	--color-amber-9: #ffc53d;
	--color-amber-10: #ffba18;
	--color-amber-11: #ab6400;
	--color-amber-12: #4f3422;

	--color-indigo-1: #fdfdfe;
	--color-indigo-2: #f7f9ff;
	--color-indigo-3: #edf2fe;
	--color-indigo-4: #e1e9ff;
	--color-indigo-5: #d2deff;
	--color-indigo-6: #c1d0ff;
	--color-indigo-7: #abbdf9;
	--color-indigo-8: #8da4ef;
	--color-indigo-9: #3e63dd;
	--color-indigo-10: #3358d4;
	--color-indigo-11: #3a5bc7;
	--color-indigo-12: #1f2d5c;
}
.dark {
	--color-gray-1: #111113;
	--color-gray-2: #18191b;
	--color-gray-3: #212225;
	--color-gray-4: #272a2d;
	--color-gray-5: #2e3135;
	--color-gray-6: #363a3f;
	--color-gray-7: #43484e;
	--color-gray-8: #5a6169;
	--color-gray-9: #696e77;
	--color-gray-10: #777b84;
	--color-gray-11: #b0b4ba;
	--color-gray-12: #edeef0;

	--color-blue-1: #0d1520;
	--color-blue-2: #111927;
	--color-blue-3: #0d2847;
	--color-blue-4: #003362;
	--color-blue-5: #004074;
	--color-blue-6: #104d87;
	--color-blue-7: #205d9e;
	--color-blue-8: #2870bd;
	--color-blue-9: #0090ff;
	--color-blue-10: #3b9eff;
	--color-blue-11: #70b8ff;
	--color-blue-12: #c2e6ff;

	--color-ruby-1: #191113;
	--color-ruby-2: #1e1517;
	--color-ruby-3: #3a141e;
	--color-ruby-4: #4e1325;
	--color-ruby-5: #5e1a2e;
	--color-ruby-6: #6f2539;
	--color-ruby-7: #883447;
	--color-ruby-8: #b3445a;
	--color-ruby-9: #e54666;
	--color-ruby-10: #ec5a72;
	--color-ruby-11: #ff949d;
	--color-ruby-12: #fed2e1;

	--color-teal-1: #0d1514;
	--color-teal-2: #111c1b;
	--color-teal-3: #0d2d2a;
	--color-teal-4: #023b37;
	--color-teal-5: #084843;
	--color-teal-6: #145750;
	--color-teal-7: #1c6961;
	--color-teal-8: #207e73;
	--color-teal-9: #12a594;
	--color-teal-10: #0eb39e;
	--color-teal-11: #0bd8b6;
	--color-teal-12: #adf0dd;

	--color-amber-1: #16120c;
	--color-amber-2: #1d180f;
	--color-amber-3: #302008;
	--color-amber-4: #3f2700;
	--color-amber-5: #4d3000;
	--color-amber-6: #5c3d05;
	--color-amber-7: #714f19;
	--color-amber-8: #8f6424;
	--color-amber-9: #ffc53d;
	--color-amber-10: #ffd60a;
	--color-amber-11: #ffca16;
	--color-amber-12: #ffe7b3;

	--color-indigo-1: #11131f;
	--color-indigo-2: #141726;
	--color-indigo-3: #182449;
	--color-indigo-4: #1d2e62;
	--color-indigo-5: #253974;
	--color-indigo-6: #304384;
	--color-indigo-7: #3a4f97;
	--color-indigo-8: #435db1;
	--color-indigo-9: #3e63dd;
	--color-indigo-10: #5472e4;
	--color-indigo-11: #9eb1ff;
	--color-indigo-12: #d6e1ff;
}
